@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Admin</h2>
    <p><a class="text-success text-decoration-none home-links" asp-area="" asp-controller="Products" asp-action="Index">Manage Products</a></p>
    <p></p>
    <p><a class="text-success text-decoration-none home-links" asp-area="" asp-controller="Technicians" asp-action="Index">Manage Technicians</a></p>
    <p></p>
    <p><a class="text-success text-decoration-none home-links" asp-area="" asp-controller="Customers" asp-action="Index">Manage Customers</a></p>
    <p></p>
    <p><a class="text-success text-decoration-none home-links" asp-area="" asp-controller="Incidents" asp-action="Index">Manage Incidents</a></p>
    <p></p>
    <h2>Technicians</h2>
    <p><a class="text-success text-decoration-none home-links" asp-area="" asp-controller="Incidents" asp-action="Create">Update Incidents</a></p>
</div>
